.App {
  text-align: center;
  margin: 2rem;
  display: flex;
}

.NoteInputCss {
  width: 60%;
  background-color: aliceblue;
  font-weight: bold;
  height: 1rem;
}

.imageIconCss {
  position: absolute;
  margin-left: 25.7rem;
  margin-top: 3px;
  margin-right: 2rem;
}

.imageIconCss:active {
  background-color: darkgrey;
}

.fileInput {
  display: none;
}

